/* Basic style settings (CSS Properties) + resets */
:root {
    --dark-cyan-color: hsl(158, 36%, 37%);
    --cream-color: hsl(30, 38%, 92%);
    --very-dark-blue-color: hsl(212, 21%, 14%);
    --dark-grayish-blue-color: hsl(228, 12%, 48%);
    --white-color: hsl(0, 0%, 100%);

    --card-width: 21.4375rem;
    --card-height: 38.1875rem;

    --card-category-basis: 2.1875rem;
    --card-title-basis: 7.5rem;
    --card-price-basis: 5.62rem;
    --button-margin-top: 0.07rem;

    --category-text-size: 0.75rem;
    --category-letter-spacing: 0.3125rem;

    --small-text-size: 0.8125rem;
    --small-line-height: 1.77; 

    --large-text-size: 2rem;
    --large-line-height: 1;

    --standard-text-size: 0.875rem;
    --standard-line-height: 1.64;

    --image-width: var(--card-width);
    --image-height: 15rem;

    --price-list-space: 1.19rem;

    --button-width: 18.4375rem;
    --button-height: 3rem;
    --button-border-radius: 0.5rem;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
a,
p {
    margin: 0;
    padding: 0;   
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--cream-color);
}

.card {
    display: flex;
    flex-flow: column nowrap;
    width: var(--card-width);
    height: var(--card-height);
}

/* image - the first element of the grid */
.card__asset {
    flex-basis: var(--image-height);
    background: url('../../assets/image-product-mobile.jpg') no-repeat top left/contain;
}

/* standard content */
.card__content {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    flex-basis: calc(var(--card-height) - var(--image-height));
    background: var(--white-color);
}

.card__title,
.card__price--discounted {
    font-family: 'Fraunces', serif;
}

.card__category {
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--category-text-size);
    letter-spacing: var(--category-letter-spacing);
    color: var(--dark-grayish-blue-color);
    flex-basis: var(--card-category-basis);
}

.card__title {
    font-weight: 700;
    font-size: var(--large-text-size);
    line-height: var(--large-line-height);
    color: var(--very-dark-blue-color);
    flex-basis: var(--card-title-basis);
}

.card__description {
    font-weight: 500;
    font-size: var(--standard-text-size);
    line-height: var(--standard-line-height);
    color: var(--dark-grayish-blue-color);
}

.card__price {
    display: flex;
    align-items: center;
    flex-basis: var(--card-price-basis);
    gap: var(--price-list-space);
}

.card__price--discounted {
    font-weight: 700;
    font-size: var(--large-text-size);
    line-height: var(--large-line-height);
    color: var(--dark-cyan-color);
}

.card__price--original {
    font-weight: 500;
    color: var(--dark-grayish-blue-color);
    font-size: var(--small-text-size);
    line-height: var(--small-line-height);
    text-decoration-line: line-through;
}

.card__button {
    font-weight: 700;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    margin-top: var(--button-margin-top);
    border-radius: var(--button-border-radius);
    font-size: var(--standard-text-size);
    width: var(--button-width);
    height: var(--button-height);
    color: var(--white-color);
    background: var(--dark-cyan-color);
    border: 0.1rem solid var(--dark-cyan-color);
    gap: var(--standard-text-size);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Desktop breakpoint */
@media screen and (min-width: 90em) {
    :root {
        --card-width: 37.5rem;
        --card-height: 28.125rem;

        --image-width: calc(var(--card-width) / 2);

        --button-width: 14.75rem;
    }

    .card {
        flex-flow: row nowrap;
    }

    .card__asset {
        flex-basis: var(--image-width);
        background: url('../../assets/image-product-desktop.jpg') no-repeat top left/cover;
    }
}

